configuration {
  modi: "drun,powermenu:~/.config/rofi/powermenu.lua";

  kb-accept-entry: "Return";
  kb-remove-to-eol: "";
  kb-row-down: "J,Ctrl+j";
  kb-row-up: "K,Ctrl+k";

  show-icons: false;
  drun-display-format: "{name}";

  sort: true;
  matching: "fuzzy";
  sorting-method: "fzf";
}

@theme "style.rasi"
