* {
  red: #f38ba8;
  color: #ffffff;
  background-color: transparent;
}

window {
  font: "Hack Nerd Font 15";
  background-color: #1e1e2e80;

  border-radius: 16;
  padding: 36 48;
  width: 400;
}

listview {
  spacing: 8;
  lines: 8;
}

element-text selected {
  text-color: @red;
}

inputbar {
  padding: 0 0 16 1;
  children: [entry];
}
