@define-color white #ffffff;
@define-color red #f38ba8;

* {
  font-family: Hack Nerd Font;
  font-size: 15px;
  font-weight: normal;
}

window#waybar {
  color: @white;
  background-color: transparent;
}

button {
  border: none;
  box-shadow: none;
  text-shadow: none;
  background: none;
}

#workspaces button {
  color: @white;
  padding: 0 4px;
}

#workspaces button.focused {
  color: @red;
}

#workspaces button.urgent {
  background-color: @red;
}

.modules-left > widget > * {
  margin-right: 8px;
}

.modules-right > widget > * {
  padding: 0 8px;
}

#tray {
  margin-top: 0;
  margin-bottom: 0;
}

widget > * {
  margin-top: 10px;
  margin-bottom: 2px;
}

.modules-left > widget:first-child > * {
  margin-left: 8px;
}

.modules-right > widget:last-child > * {
  margin-right: 8px;
}

tooltip {
  border: none;
  border-radius: 16;
  background: rgba(30, 30, 46, .8);
}
