@import "mocha.css";

* {
  font-family: RobotoMono Nerd Font;
  font-size: 14px;
  font-weight: 500;
}

window#waybar {
  background-color: @base;
  color: @rosewater;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}


#workspaces button {
  color: @rosewater;
  padding: 0 4px;
}

#workspaces button.focused {
  color: @red;
}

#workspaces button.urgent {
  background-color: @red;
}


.modules-left > widget > * {
  margin-right: 8px;
}

.modules-right > widget > * {
  padding: 0 8px;
}

#tray {
  margin-top: 0;
  margin-bottom: 0;
}


widget > * {
  margin-top: 8px;
  margin-bottom: 8px;
}

.modules-left > widget:first-child > * {
  margin-left: 8px;
}

.modules-right > widget:last-child > * {
  margin-right: 8px;
}


tooltip {
  border: none;
  border-radius: 0;
  background: @surface0;
}

tooltip label {
  color: @rosewater
}
